<div style="padding: 10px 0px;">
    <blockquote class="layui-elem-quote"><b>欢迎使用博客后台系统</b></blockquote>
    <blockquote class="layui-elem-quote">
        <b>上次登录</b>
        <table>
            <tr>
                <td width="50">时间:</td>
                <td>2018-05-12 21:46:46</td>
            </tr>
            <tr>
                <td>IP:</td>
                <td>120.39.68.56(中国 福建 厦门 电信)</td>
            </tr>
        </table>
    </blockquote>
    <blockquote class="layui-elem-quote">
        <b>今日统计</b>
        <div id="today" style="height: 300px;"></div>
    </blockquote>
</div>