<fieldset class="layui-elem-field layui-field-title">
    <legend> 基本资料 - 密码修改</legend>
    <div class="layui-field-box">
        <form id="pwd_edit_form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">原密码</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="password" placeholder="请输入原密码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="password_new" placeholder="请输入新密码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" class="layui-input" name="password_confirm" placeholder="请输入再次输入新密码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" onclick="pwdEdit()">确认</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>