<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/l-blog.css">
    <script src="__JS__/jquery.min.js"></script>
</head>
<body>
<!--导航-->
{include file="common/nav"}

<div class="layui-row">
    <div class="layui-container">
        <div class="crumbs">
            <span class="layui-breadcrumb">
                <a href="/">首页</a><a><cite></cite></a>
            </span>
        </div>
        <div class="layui-col-space10">
            <div class="layui-col-md8">
                <div class="panel">
                    {include file="comment/comment"}
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12">
                
                <!--热文推荐-->
                {include file="common/hot"}
                <!--友情链接-->
                {include file="common/link"}
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="is_login" value="{$Think.session.user_id?1:0}">
<!--页脚-->
{include file="common/footer"}

</body>
</html>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__JS__/l-blog.js"></script>
<script>
    $('cite').text($('.layui-this>a:first').text());
</script>