<fieldset class="layui-elem-field layui-field-title">
    <legend> 用户管理 - 用户列表</legend>
    <div class="layui-field-box">
        <!--<div class="layui-form">-->
            <!--<div class="layui-form-item">-->
                <!--<button class="layui-btn layui-btn-xs" onclick="linkAdd()" style="float: right;"><i-->
                        <!--class="layui-icon layui-icon-add-1"></i>添加友链-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <table class="layui-table" lay-skin="line">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>GitHub</th>
                <th>注册时间</th>
                <!--<th>操作</th>-->
            </tr>
            </thead>
            <tbody>
            {foreach name="user_list" item="v"}
            <tr>
                <td>{$v.id}</td>
                <td>{$v.username}</td>
                <td>{$v.nickname}</td>
                <td>{$v.email}</td>
                <td>{$v.github_login}</td>
                <td>{$v.add_time}</td>
                <!--<td>-->
                    <!--<button class="layui-btn layui-btn-xs" onclick="linkEdit('{$v.id}')">编辑-->
                    <!--</button>-->
                    <!--<button class="layui-btn layui-btn-danger layui-btn-xs" onclick="checkDel(linkDel,'{$v.id}')">-->
                        <!--删除-->
                    <!--</button>-->
                <!--</td>-->
            </tr>
            {/foreach}
            </tbody>
        </table>
        <input type="hidden" id="count" value="{$count}">
        <input type="hidden" id="curr" value="{$page}">
        <input type="hidden" id="limit" value="{$list_row}">
        <input type="hidden" id="url" value="{:url('user/userList')}">
        <div class="layui-row">
            <div id="page"></div>
        </div>
    </div>
</fieldset>