<div class="layui-row footer">
    <div class="layui-container">
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-row admin-info">
                <div class="layui-row">关注我</div>
                <div class="layui-row">
                    <div class="layui-col-xs1"><img src="__IMG__/github.svg"></div>
                    <div class="layui-col-xs11"><a href="https://github.com/dsx52220"
                                                   title="GitHub" target="_blank">GitHub</a></div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs1"><img src="__IMG__/gitee.svg"></div>
                    <div class="layui-col-xs11"><a href="https://gitee.com/dsx52220"
                                                   title="码云" target="_blank">码云Gitee</a></div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-xs1"><i class="layui-icon layui-icon-star"></i></div>
                    <div class="layui-col-xs11"><a href="javascript:addBookmark();"
                                                   title="收藏博客">收藏本站</a></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-row admin-info">
                <div class="layui-row">联系我</div>
                <div class="layui-row">
                    <div class="layui-col-xs1"><img src="__IMG__/mail.svg"></div>
                    <div class="layui-col-xs11"><a href="mailto:admin@shunxin66.com"
                                                   title="邮件联系我">admin@shunxin66.com</a></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-xs12">
            <div class="layui-row admin-info">
                <div class="layui-row">网站信息</div>
                <div class="layui-row">
                    <div class="layui-col-xs1"><i class="layui-icon layui-icon-vercode"></i></div>
                    <div class="layui-col-xs11"><a href="http://www.miitbeian.gov.cn/"
                                                   title="ICP备案" target="_blank">闽ICP备16024205号-3 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
